.event-log {
  height: 40vh;
  width: 60vw;
  padding: 50px;
  color: #fff;
  background-color: #2b4157;
  border-radius: 50px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.event-log__list {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ecf0f1;
  overflow-y: auto;
  scroll-behavior: smooth;
}
